{% extends 'main.html' %}
{% load static %}

{% block title %} 
Password Reset Complete.
{% endblock title%}

{% block content %}

<main id="p_reset_comp">
    <section>
        <div class="message_container">
            <h2>Password Reset Complete.</h2>
            <p>
                Your password has been successfully set. You can now log in with your new password.
            </p>
            
            <p>
                <a href="{% url 'users:login' %}" class="login_link">Login</a>
            </p>
        </div>
    </section>
</main>

{% endblock content %}