{% extends 'main.html' %}
{% load static %}

{% block content %}

<section class="container mt-4">
    <h2 class="mb-2">{{page_title}}</h2>
    {% if enrolled_courses %}
        <div class="row">

            {% for enroll in enrolled_courses %}
                <div class="col-md-6 col-lg-4 mb-4">

                    <div class="card ">
                        {% if enroll.course.thumbnail %}
                        <img src="{{enroll.course.thumbnail.url}}" class="card-img-top" 
                        alt="{{enroll.course.title}} thumbnail">
                        {% endif %}
                    </div>

                    <div class="card-body d-flex flex-column ">
                        <h5 class="card-title"> {{enroll.course.title}} </h5>
                        <p class="card-text text-muted">
                            by {{enroll.course.instructor.username}}
                        </p>

                        {% if enroll.total_lessons >= 0 %}
                            
                            <div class="progress mb-2" style="height: 20px;">

                                <div class="progress-bar" role="progressbar"
                                aria-valuenow="{{enroll.progress_percentage|floatformat:0}}"
                                aria-valuemin="0"
                                aria-valuemax="100"
                                style="width: {{enroll.progress_percentage|floatformat:0}}%;">

                                {{enroll.progress_percentage|floatformat:0}}

                                </div>

                            </div>
                            <p class="card-text">
                                <small> 
                                    {{enroll.completed_lessons}} of {{enroll.total_lessons}} lessons completed.
                                </small>
                            </p>
                        
                        {% else %}
                            <p class="card-text">
                                <small>This course has no lessons yet.</small>
                            </p>
                        {% endif %}

                        <div class="mt-6">
                            {% with next_lesson=enroll.get_next_lesson %}
                                {% if next_lesson %}
                                    <a href="{{next_lesson.get_absolute_url}}" class="btn btn-primary">
                                        Continue Learning
                                    </a>
                                {% else %}
                                    <a href="{{enroll.course.get_absolute_url}}" class="btn btn-success">
                                        Course Completed! Review
                                    </a>
                                {% endif %}
                            {% endwith %}
                        </div>

                    </div>

                </div>
            {% endfor %}

        </div>
    {% else %}

        <div class="alert alert-info">
            You are not currently enrolled in any courses. <a href="{% url 'courses:course_list' %}"
            class="alert-link"> Browse course
            </a> to get started.
        </div>

    {% endif %}
</section>

{% endblock content %}